<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>商品列表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- jquery -->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/goods.css}"/>


    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script type="text/javascript" src="/js/index.js" id="cb"></script>
    <style>
        .back {
            width: 100%;
            height: 244px;
        }
        .back>img {
            width: 100%;
            height: 100%;
        }
        .aaa {
            width: 100%;
            height: 393px;
        }
        h4.thicker {font-weight: 900;font-weight: bold}
    </style>
</head>

<!--<style>-->
    <!--body{-->
        <!--background: url("/img/bg1.png") no-repeat top center fixed;-->
        <!--background-size: 100%;-->
    <!--}-->
<!--</style>-->
<body>
<div id="header">
    <div class="container hd-container clear">
        <h1 class="hd-logo">
            <a href=""><img width="240px" height="130px" src="/img/timg.jfif" title="商城tmall.com" alt="tmall"></a>
        </h1>
        <div class="hd-extra form">
            <div class="hd-search">
                <form method="post" action="#" id="search">
                    <fieldset>
                        <legend>商城内搜索</legend>
                        <input type="text" name="search-box" value="iphone xr" title="请输入搜索内容">
                        <input type="submit" name="search-btn" value="搜索">
                    </fieldset>
                </form>
                <ul class="hd-hot-key">
                    <li><a href="#">沙滩裙</a></li>
                    <li class="key-highlight"><a href="#">电风扇</a></li>
                    <li><a href="#">短裤男</a></li>
                    <li class="key-highlight"><a href="#">凉鞋</a></li>
                    <li><a href="#">泳衣</a></li>
                    <li class="key-highlight"><a href="#">伞</a></li>
                    <li><a href="#">蚊帐</a></li>
                    <li class="key-highlight"><a href="#">空调</a></li>

                </ul>
            </div>
            <ul class="search-tip">
            </ul>
        </div>
    </div>
</div><!-- end header -->

<div class="aaa">
    <img src="/img/ms1.png" alt="">
</div>

<div class="seckill_content">
    <div class="all_seckill_goods">
                <div class="seckill_goods" th:each="goods,goodsStat : ${goodsList}">
            <h4  class="thicker" th:text="${goods.goodsName}"></h4>
            <img th:src="@{${goods.goodsImg}}" width="350"/>
            <br/><br/>
            <div class="seckill_price">
                <p th:text="${goods.goodsTitle}"></p>
                <p>
                    <span class="price1" th:text="${goods.miaoshaPrice}+'元  '"></span>
                    <del><span class="price2" th:text="${goods.goodsPrice}+'元'"></span></del>
                </p>
                <a th:href="'/goods/to_detail/'+${goods.id}">
                    <button class="btn btn-default" type="submit">进入详情页...</button>
                </a>

            </div>
        </div>
    </div>

    <div ><a href="/login/to_login">退出登录</a></div>
</div>
<div class="back">
    <img src="/img/dangdang.png" alt="">
</div>
</body>
<!-- jquery-validator -->
<script type="text/javascript" th:src="@{/jquery-validation/jquery.validate.min.js}"></script>
<script type="text/javascript" th:src="@{/jquery-validation/localization/messages_zh.min.js}"></script>
<!-- layer -->
<script type="text/javascript" th:src="@{/layer/layer.js}"></script>
<!-- md5.js -->
<script type="text/javascript" th:src="@{/js/md5.min.js}"></script>
<!-- common.js -->
<script type="text/javascript" th:src="@{/js/common.js}"></script>
</html>
