<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>购买成功</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        body{
            background: url("/img/bg1.png") no-repeat top center fixed;
            background-size: 100%;
        }
    </style>
</head>
<body>
购买成功
<p></p>
<a href="/normal/to_list" th:text="点击我返回普通商品列表页"></a>
<p></p>
<a href="/goods/to_list" th:text="点击我返回秒杀列表页"></a>
</body>
<SCRIPT LANGUAGE="javascript"> alert("恭喜您，购买成功！"); </SCRIPT>


</html>
