<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>商品列表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/goods.css}"/>

    <!--<link rel="stylesheet" href="http://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--<script src="http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>-->
    <!--<script src="http://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script type="text/javascript" src="/js/index.js" id="cb"></script>
    <style>
        .miaosha {
            display: inline-block;
            width: 80px;
            height: 80px;
            background-color: red;
            color: #fff;
            font-size: 15px;
            position: fixed;
            right: 10px;
            top:450px;
        }
    </style>
</head>
<body>
<div id="header">
    <div class="container hd-container clear">
        <h1 class="hd-logo">
            <a href=""><img width="240px" height="130px" src="/img/timg.jfif" title="商城tmall.com" alt="tmall"></a>
        </h1>
        <div class="hd-extra form">
            <div class="hd-search">
                <form method="post" action="#" id="search">
                    <fieldset>
                        <legend>商城内搜索</legend>
                        <input type="text" name="search-box" value="" title="请输入搜索内容">
                        <input type="submit" name="search-btn" value="搜索">
                    </fieldset>
                </form>
                <ul class="hd-hot-key">
                    <li><a href="#">沙滩裙</a></li>
                    <li class="key-highlight"><a href="#">电风扇</a></li>
                    <li><a href="#">短裤男</a></li>
                    <li class="key-highlight"><a href="#">凉鞋</a></li>
                    <li><a href="#">泳衣</a></li>
                    <li class="key-highlight"><a href="#">伞</a></li>
                    <li><a href="#">蚊帐</a></li>
                    <li class="key-highlight"><a href="#">空调</a></li>
                    <li><a href="#">防晒衣</a></li>
                    <li class="key-highlight last"><a href="#">双肩包</a></li>
                </ul>
            </div>
            <ul class="search-tip">
            </ul>
        </div>
    </div>
</div><!-- end header -->

<div id="banner">
    <div class="banner-bg bg0"><!-- 宽度100%纯色背景层 -->
        <div class="bn-container bn-container0"><!-- 控制banner内容整体居中 -->
            <div class="banner-con"><!-- 控制banner图片的宽度 -->
                <a class="big-banner" href="#"><img src="/img/banner1.jpg"></a>
            </div>
        </div>
    </div>
    <div class="banner-bg bg1">
        <div class="bn-container bn-container1">
            <div class="banner-con">
                <a class="big-banner" href="#"><img src="/img/banner2.jpg"></a>
                <a class="small-banner0" href="#"><img src="/img/banner-ad1.png"></a>
                <a class="small-banner1" href="#"><img src="/img/banner-ad2.png"></a>
            </div>
        </div>
    </div>
    <div class="banner-bg bg2">
        <div class="bn-container bn-container2">
            <div class="banner-con">
                <a class="big-banner" href="#"><img src="/img/banner3.jpg"></a>
            </div>
        </div>
    </div>
    <div class="banner-bg bg3">
        <div class="bn-container bn-container3">
            <div class="banner-con">
                <a class="big-banner" href="#"><img src="/img/banner4.jpg"></a>
            </div>
        </div>
    </div>
    <div class="banner-bg bg4">
        <div class="bn-container bn-container4">
            <div class="banner-con">
                <a class="big-banner" href="#"><img src="/img/banner5.jpg"></a>
                <a class="small-banner0" href="#"><img src="/img/banner-ad3.png"></a>
                <a class="small-banner1" href="#"><img src="/img/banner-ad4.png"></a>
            </div>
        </div>
    </div>
    <div class="banner-bg bg5">
        <div class="bn-container bn-container5">
            <div class="banner-con">
                <a class="big-banner" href="#"><img src="/img/banner6.jpg"></a>
                <a class="small-banner0" href="#"><img src="/img/banner-ad2.png"></a>
                <a class="small-banner1" href="#"><img src="/img/banner-ad6.png"></a>
            </div>
        </div>
    </div>
    <ul class="slider-nav">
        <li class="active"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul><!-- end slider-nav -->
    <div id="vip">
        <div class="vip-con">
            <div class="avatar">
                <div class="default"></div>
                <img class="logged" src="/img/vip-avatar.jpg">
            </div>
            <div class="login default">
                <p>Hi~你好！</p>
                <a class="login-btn" >
                    <i class="iconfont">&#xe63a;</i>
                    欢迎光临
                </a>

            </div>
            <div class="login logged">
                <p>亲爱的<br><span class="vip-name"></span><br>欢迎回来！</p>
                <span class="seprate"></span>
            </div>
            <div class="more-info default">
                <ul>
                    <li><i class="iconfont vip-icon">&#xe61c;</i><span>退货保障</span></li>
                    <li><i class="iconfont vip-icon">&#xe61a;</i><span>花呗分期</span></li>
                    <li><i class="iconfont vip-icon">&#xe61b;</i><span>极速退款</span></li>
                </ul>
                <a href="#">更多特权&gt;</a>
            </div>
            <div class="more-info logged">
                <a href="#">
                    <p><i class="iconfont vip-icon"></i>我的积分</p>
                    <span class="score number"></span>
                </a>
                <span class="seprate"></span>
                <a href="#">
                    <p><i class="iconfont vip-icon"></i>我的优惠券</p>
                    <span id="coupon" class="number"></span> 张
                </a>
            </div>
            <div class="recommend">
                <p>推荐活动</p>
                <a>
                    <img src="/img/recommend.jpg" alt="推荐活动">
                    <span>氨基酸洗面奶</span>
                    <span>999积分</span>
                </a>
            </div>
        </div>
    </div>
</div><!-- end banner -->

<div class="seckill_content">
    <div class="all_seckill_goods">
                <div class="seckill_goods" th:each="goods,goodsStat : ${goodsList}">
            <h4 th:text="${goods.goodsName}"></h4>
            <img th:src="@{${goods.goodsImg}}" width="350"/>
            <br/><br/>
            <div class="seckill_price">
                <p th:text="${goods.goodsTitle}"></p>
                <p>
                    <span class="price1" th:text="${goods.goodsPrice}+'元  '"></span>
                   <!--  <del><span class="price2" th:text="${goods.goodsPrice}+'元'"></span></del> -->
                </p>
                <a th:href="'/normal/normal_buy/'+${goods.id}">
                    <button class="btn btn-default" type="submit">进入详情页...</button>
                </a>

            </div>
        </div>
    </div>
    <div ><a class="miaosha" href="/goods/to_list">跳楼大减价,限时秒杀大促活动!!!</a></div>
    <br/><br/>
    <div ><a href="/login/to_login">退出登录</a></div>
</div>
</body>
<!-- jquery-validator -->
<script type="text/javascript" th:src="@{/jquery-validation/jquery.validate.min.js}"></script>
<script type="text/javascript" th:src="@{/jquery-validation/localization/messages_zh.min.js}"></script>
<!-- layer -->
<script type="text/javascript" th:src="@{/layer/layer.js}"></script>
<!-- md5.js -->
<script type="text/javascript" th:src="@{/js/md5.min.js}"></script>
<!-- common.js -->
<script type="text/javascript" th:src="@{/js/common.js}"></script>
</html>
